@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/inter.woff2") format('woff2');
    font-display: swap;
  }

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter";
}

.maxWidth {
    max-width: 1920px;
}

.dFlex {
    display: flex;
}

.dNone {
    display: none !important;
}