@media (max-width: 1200px) {
    .mainContent {
        margin: 0 48px;
    }
}

@media (max-width: 850px) {
    .rightAddTaskForm {
        padding-bottom: 48px;
    }

    .dividingLine {
        display: none;
    }

    .addTaskContent {
        flex-direction: column;
        height: auto;
        align-items: flex-start;
    }

    .mainContent {
        width: auto;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 120px;
    }

    .submitSection {
        position: fixed;
        width: 100%;
        padding: 24px;
        bottom: 80px;
        z-index: 10;
        background-color: #F6F7F8;
        justify-content: flex-end;
    }

    main {
        height: unset;
        overflow: unset;
    }

    #mobileInfo {
        width: 100%;
    }

    .infoText {
        width: 100%;
        justify-content: flex-start;
    }

    .directionColumn {
        margin-bottom: 24px;
    }

    h1 {
        width: 100%;
    }

    .subtaskListPosition {
        top: 1088px;
        width: 345px;
    }

    .contactListContainer {
        top: 868px;
        width: 345px;
    }

    .categoryListContainer {
        top: 990px;
        width: 345px;
    }
}

@media (max-width: 440px) {

    .rightAddTaskForm {
        padding-bottom: 48px;
    }

    .inputFields {
        width: 300px;
    }

    .dropdownHeader {
        width: 300px;
    }

    .customDropdownName {
        width: 300px;
    }

    .customDropdownCategory {
        width: 300px;
    }

    .priorityBtn {
        width: 90px;
        font-size: 12px;
    }

    .dateIcon {
        left: -40px;
    }

    .plusIcon {
        left: 272px;
    }

    .subtaskListPosition {
        top: 1088px;
        width: 300px;
    }

    .contactListContainer {
        width: 300px;
    }

    .categoryListContainer {
        width: 300px;
    }
}

@media (max-width: 380px) {
    .leftAddTaskForm {
        align-items: center;
    }

    .rightAddTaskForm {
        padding-bottom: 48px;
    }

    .calendarWrap {
        width: 260px;
    }

    .addTaskContent {
        align-items: center;
    }

    .inputFields {
        width: 260px;
    }

    .dropdownHeader {
        width: 260px;
    }

    .customDropdownName {
        width: 260px;
    }

    .customDropdownCategory {
        width: 260px;
    }

    .priorityBtn {
        width: 80px;
        font-size: 12px;
    }

    .dateIcon {
        left: 228px;
        bottom: 29px;
    }

    .flatpickr-calendar {
        left: 22px;
        width: 260px;
    }

    .plusIcon {
        left: 228px;
    }

    .assignedInput {
        width: 214px;
    }

    .contactListContainer {
        top: 896px;
        width: 260px;
    }

    .categoryListContainer {
        top: 1016px;
        width: 260px;
    }

    .subtaskListPosition {
        width: 260px;
    }
}