@media(max-width: 1190px) {
    .contactList {
        padding-left: 36px;
        padding-right: 36px;
    }

    .mainContent {
        gap: 24px;
    }

    .contactList::-webkit-scrollbar {
        display: none;
    }

    .headlineSection {
        padding-left: 28px;
        padding-right: 0px;
    }

    .modalMainContent {
        width: 95%;
    }

    .modalIconContainer {
        width: 150px;
    }
}

@media(max-width: 1045px) {
    .contactsModalIcon {
        height: 100px;
        width: 100px;
    }

    .modalIconContainer {
        width: 120px;
    }
}

@media(max-width: 1014px) {
    .modalMainContent {
        width: 95%;
        height: 82%;
        top: 46%;
        flex-direction: column;
        justify-content: center;

        padding-right: 0;
    }

    .headlineSection {
        width: 100%;
        align-items: center;
    }

    .contactsModalImage {
        display: none;
    }

    .contentSection {
        flex-direction: column;
    }


}

@media(max-width: 800px) {
    .contactsOverview {
        display: none;
    }

    .contactListContainer {
        width: 100%;
    }

    .letterDividerLine {
        width: 500px;
    }

    .addContactButton {
        display: none;
    }

    .addContactMobileButton {
        height: 56px;
        width: 56px;
        cursor: pointer;
        display: flex;
        position: fixed;
        bottom: 100px;
        right: 20px;
        border: none;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        z-index: 99;
    }

    .mobileListContainer {
        display: flex;
        flex-direction: column;
    }
}

@media(max-width: 560px) {
    .letterDividerLine {
        padding-right: 12px;
        width: 350px;
    }

    .mobileListContainer {
        display: flex;
        flex-direction: column;
    }
}