.boardMobile {
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 6em;
}

.boardHeaderContentMobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3em 0;
}

.marginTop25 {
  margin-top: 1.5em;
}

.padding {
  padding: 1.5em 0.85em 0.85em 0.85em;
}

.h2Mobile {
  font-size: 3.75rem;
}

.addTaskButtonMobile {
  border: none;
  background: transparent;
  text-align: center;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: #2a3647;
  color: white;
  padding: 0.25em 0.25em;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 125ms ease-in-out;
}

.taskSearchMobile {
  display: flex;
  align-items: center;
}

.taskInputfieldMobile {
  height: 3.5rem;
  width: 100%;
  border-radius: 10px;
  padding: 0 1em;
  font-size: 1.5rem;
  font-weight: 500;
  color: #d1d1d1;
  border: 1px solid #bcbcbc;
}

.taskButtonContainerMobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.taskButtonContainerMobile span {
  font-size: 2.25rem;
  font-weight: 700;
  color: #42526e;
}

.taskButtonContainerMobile img {
  cursor: pointer;
  transition: filter 125ms ease-in-out;
  height: 2.125em;
}

.taskButtonContainerMobile img:hover {
  filter: invert(65%) sepia(31%) saturate(4449%) hue-rotate(165deg)
    brightness(95%) contrast(86%);
}

@media (max-width: 1023px) {
  html,
  body {
    font-size: 16px;
  }

  .moveToOverlayWrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 999;
    background-color: rgba(21, 21, 24, 0.965);
  }

  .moveToOverlay {
    margin: 12.5vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .moveToOverlay h3 {
    font-size: 2rem;
    color: white;
    font-weight: 600;
    margin: 5em auto 2.5em;
  }

  .divider {
    height: 2px;
    width: 60%;
    margin: 5em auto;
  }

  .containerWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
    padding: 0 1em;
  }

  .subContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    max-width: 180px;
    width: 100%;
  }

  .taskContainer,
  .returnToBoard,
  .openTask {
    font-size: 1.125rem;
    color: white;
    background-color: #2a3647;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.23);
    cursor: pointer;
    transition: background-color 125ms ease-in-out, border 125ms ease-in-out;
    border: 1px solid rgba(61, 61, 61, 0.23);
    padding: 0.75em 1em;
    max-width: 180px;
    width: 100%;
    text-align: center;
  }

  .taskContainer:hover {
    background-color: #28abe2;
    border: 1px solid rgba(61, 61, 61, 0.23);
  }

  .returnToBoard:hover {
    background-color: #28abe2;
    border: 1px solid rgba(61, 61, 61, 0.23);
  }

  .openTask:hover {
    background-color: #28abe2;
    border: 1px solid rgba(61, 61, 61, 0.23);
  }

  .boardDesktop {
    display: none;
  }

  .boardMobile {
    display: block;
    overflow: auto;
  }

  .filledTask {
    max-width: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 0.75em;
  }

  .blankTask {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .column {
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 1.5em 0 3.5em 0;
  }
}

@media (max-width: 500px) {
  html,
  body {
    font-size: 12px;
  }

  .taskButtonContainerMobile span {
    font-size: 1.75rem;
  }

  .filledTask {
    max-width: 200px;
    width: 100%;
  }

  .taskContainer,
  .returnToBoard,
  .openTask {
    padding: 0.5em 0.75em;
    max-width: 125px;
  }
}
