@media (max-width: 430px) {

    html,
    body {
        overflow-x: hidden;
    }

    .greetingContainer {
        display: none;
    }

    .summaryHeadline {
        flex-direction: column;
        gap: 0.5rem;
        padding-top: 2rem;
        align-items: flex-start;
    }

    h1 {
        font-size: 36px;
    }

    .blueDivider {
        display: none;
    }

    .content {
        width: 100%;
    }

    .mainContentWrapper {
        padding: 1rem;
    }

    .overviewSection {
        width: 100%;
        gap: 1rem;
    }

    .topTasks,
    .midSection,
    .bottomBar {
        flex-direction: row;
        gap: 1rem;
        width: 100%;
        justify-content: space-between;
    }

    .toDoContainer,
    .midContent,
    .bottomBarTasks {
        width: calc(50% - -10.5rem);
        box-sizing: border-box;
    }

    .midSection {
        align-items: stretch;
    }

    .midContent {
        flex-direction: row;
        padding: 1rem;
        gap: 1rem;
    }

    .midContentLeft {
        flex-direction: column;
        align-items: center;
    }

    .bottomBarTasks .taskCounterContainer {
        align-items: center;
    }

    p {
        font-size: 32px;
    }

    .toDoImg,
    .urgentArrows {
        width: 50px;
        height: 50px;
    }

    .toDoCount span,
    .urgentContent span,
    .bottomBarTasks span {
        font-size: 14px;
        line-height: 1.025rem;
    }

    .dateContainer p {
        font-size: 16px;
    }

    .dateContainer span {
        font-size: 12px;
    }
}