.mobileListContainer {
    height: 100%;
}

@media(max-width: 1220px) {
    .userNameContainer h2 {
        font-size: 40px;
    }

    .mobileHeadlineWrapper {
        gap: 24px;
    }

    .contactsHeadline h1 {
        font-size: 56px;
    }
}

@media(max-width: 1190px) {
    .userIconContainer {
        font-size: 30px;
        height: 110px;
        width: 110px;
    }

    .mainContent {
        gap: 24px;
    }

    .headlineSection {
        padding-left: 28px;
        padding-right: 0px;
    }

    .modalMainContent {
        width: 95%;
    }

    .modalIconContainer {
        width: 150px;
    }
}

@media(max-width: 1140px) {
    .userNameContainer h2 {
        font-size: 36px;
    }

    .userIconContainer {
        font-size: 30px;
        height: 110px;
        width: 110px;
    }

    .mobileHeadlineWrapper {
        gap: 20px;
    }

    .mobileHeadlineWrapper h1 {
        font-size: 48px;
    }

    .contactsNameContainer {
        gap: 48px;
    }

    .contactListContainer {
        width: 430px;
    }

    .contactList {
        padding-right: 34px;
        padding-bottom: 160px;
    }

    .addContactButton {
        margin-right: 32px;
    }
}

@media(max-width: 1080px) {
    .contactsNameContainer {
        gap: 40px;
    }

    .userNameContainer h2 {
        font-size: 30px;
    }

    .mobileHeadlineWrapper {
        gap: 18px;
    }

    .mobileHeadlineWrapper h1 {
        font-size: 42px;
    }

    .mobileHeadlineWrapper span {
        font-size: 14px;
    }
}

@media(max-width: 1045px) {
    .contactsModalIcon {
        height: 100px;
        width: 100px;
    }

    .modalIconContainer {
        width: 120px;
    }
}

@media(max-width: 1023px) {
    .modalMobileCloseButtonWrapper {
        display: flex;
        position: relative;
        top: -25px;
        left: 88%;
    }

    .modalMobileCloseButton {
        background-color: #2A3647;
        border: none;
        cursor: pointer;
    }

    .modalMobileCloseButton img {
        transform: rotate(45deg);
    }

    .modalMainContent {
        width: 550px;
        height: 82%;
        top: 43%;
        flex-direction: column;
        justify-content: center;
        padding-right: 0;
    }

    .modalIconContainer {
        width: 145px;
    }

    .mobileHeadlineWrapper {
        gap: 30px;
    }

    .mobileHeadlineWrapper h1 {
        font-size: 60px;
    }

    .mobileHeadlineWrapper span {
        font-size: 20px;
    }

    .contactsNameContainer h2 {
        font-size: 47px;
    }

    .headlineContainer {
        gap: 8px;
    }

    .headlineSection {
        width: 100%;
        gap: 8px;
    }

    .contactsModalImage {
        display: none;
    }

    .contactsModalIcon {
        height: 145px;
        width: 145px;
        border-radius: 73px;
    }

    .modalIconContainer {
        position: absolute;
        padding-bottom: 500px;
    }

    .contentSection {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .modalContentContainer {
        padding-top: 110px;
    }

    .modalCloseButtonWrapper {
        display: none;
    }

    .inputFieldContainer {
        gap: 18px;
    }

    .buttonsContainer {
        justify-content: center;
        padding-left: 0;
    }

    .modalCancelButton {
        display: none;
    }

    .modalCreateButton {
        z-index: 1;
    }

    .modalCreateButton span {
        cursor: pointer;
    }
}

@media(max-width: 950px) {
    .mobileHeadlineWrapper {
        gap: 24px;
    }

    .mobileHeadlineWrapper h1 {
        font-size: 56px;
    }

    .mobileHeadlineWrapper span {
        font-size: 16px;
    }

    .contactsNameContainer h2 {
        font-size: 40px;
    }
}

@media(max-width: 890px) {
    .mobileHeadlineWrapper {
        gap: 20px;
    }

    .mobileHeadlineWrapper h1 {
        font-size: 48px;
    }

    .mobileHeadlineWrapper span {
        font-size: 14px;
    }

    .contactsNameContainer h2 {
        font-size: 36px;
    }
}

@media(max-width: 840px) {
    .mobileHeadlineWrapper {
        gap: 18px;
    }

    .mobileHeadlineWrapper h1 {
        font-size: 42px;
    }

    .mobileHeadlineWrapper span {
        font-size: 14px;
    }

    .contactsNameContainer h2 {
        font-size: 30px;
    }
}

@media(max-width: 800px) {
    .mainContent {
        justify-content: center;
    }

    .contactsOverview {
        display: none;
    }

    .mobileVisible {
        display: flex !important;
    }

    .contactsHeadline {
        justify-content: space-between;
    }

    .mobileHeadlineWrapper {
        display: flex;
        flex-direction: column;
    }

    .mobileBackArrow {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 32px;
        width: 32px;
        border-radius: 15px;
        border: none;
        background-color: #F6F7F8;
        cursor: pointer;
    }

    .blueMobileUnderline {
        display: flex;
        width: 90px;
        height: 3px;
        background-color: #29ABE2;
    }

    .blueDivider {
        display: none;
    }

    .contactListContainer {
        width: 100%;
    }

    .mobileListContainer {
        justify-content: center;
        align-items: center;
    }

    .letterDividerLine {
        width: 385px;
    }

    .userNameIconContainer {
        display: none;
    }

    .addContactButton {
        display: none;
    }

    .addContactMobileButton {
        height: 56px;
        width: 56px;
        cursor: pointer;
        display: flex;
        position: fixed;
        bottom: 100px;
        right: 20px;
        border: none;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        z-index: 2;
    }

    .mobileListContainer {
        display: flex;
        flex-direction: column;
    }
}

@media(max-width: 600px) {
    .modalMobileCloseButtonWrapper {
        top: -43px;
    }

    .headlineContainer h1 {
        font-size: 47px;
    }

    .headlineContainer h2 {
        font-size: 20px;
    }

    .headlineContainer {
        height: 94px;
    }
}

@media(max-width: 560px) {
    .modalMainContent {
        width: 95%;
    }

    .modalMobileCloseButtonWrapper {
        top: -47px;
    }

    .letterDividerLine {
        padding-right: 12px;
        width: 350px;
    }

    .inputFields {
        width: 364px;
        height: 41px;
    }

    .inputIcon {
        right: 4rem;
        top: 0.55rem;
    }

    .buttonsContainer {
        padding-bottom: 100px;
    }

    .modalContentContainer {
        gap: 0;
    }
}

@media(max-width: 500px) {
    .contactsModalIcon {
        height: 120px;
        width: 120px;
        border-radius: 60px;
    }

    .modalIconContainer {
        padding-bottom: 490px;
    }
}

@media(max-width: 460px) {
    .contactList {
        padding-left: 32px;
        padding-right: 24px;
    }
}

@media(max-width: 440px) {
    .contactList {
        padding-left: 24px;
        padding-right: 18px;
    }
}

@media(max-width: 420px) {
    .contactList {
        padding-left: 20px;
        padding-right: 16px;
    }

    .headlineSection {
        padding-left: 18px;
    }


    .letterDividerLine {
        width: 300px;
    }

    .inputFields {
        width: 320px;
        font-size: 16px;
    }

    .modalContentContainer {
        width: 410px;
    }
}

@media(max-width: 400px) {
    .contactList {
        padding-left: 18px;
        padding-right: 12px;
    }
}

@media(max-width: 380px) {
    .contactsNameContainer {
        gap: 20px;
    }

    .userIconContainer {
        height: 80px;
        width: 80px;
        border-radius: 70px;
    }

    .inputFields {
        width: 320px;
    }

    .modalContentContainer {
        width: 410px;
    }
}

@media(max-width: 370px) {
    .contactList {
        padding-right: 14px;
        padding-left: 18px;
    }

    .inputFields {
        width: 300px;
    }

    .contactDetails .email {
        font-size: 12px;
    }

    .succesfullyCreatedOverlayImg img {
        width: 280px;
    }
}

@media(max-width: 350px) {
    .contactList {
        padding-left: 10px;
        padding-right: 0;
    }
}