.boardHeaderContentMobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.marginTop25 {
  margin-top: 2.5em;
}

.padding {
  padding: 1.5em 0.85em 0.85em 0.85em;
}

.h2Mobile {
  font-size: 3.75rem;
}

.addTaskButtonMobile {
  border: none;
  background: transparent;
  text-align: center;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: #2a3647;
  color: white;
  padding: 0.5em 0.5em;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 125ms ease-in-out;
}

.taskSearchMobile {
  display: flex;
  align-items: center;
}

.taskInputfieldMobile {
  height: 3.5rem;
  width: 100%;
  border-radius: 10px;
  padding: 0 1em;
  font-size: 1.5rem;
  font-weight: 500;
  color: #d1d1d1;
  border: 1px solid #bcbcbc;
}

.taskButtonContainerMobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.taskButtonContainerMobile span {
  font-size: 2.25rem;
  font-weight: 700;
  color: #42526e;
}

.taskButtonContainerMobile img {
  cursor: pointer;
  transition: filter 125ms ease-in-out;
  height: 1.75em;
}

.taskButtonContainerMobile img:hover {
  filter: invert(65%) sepia(31%) saturate(4449%) hue-rotate(165deg)
    brightness(95%) contrast(86%);
}

@media (max-width: 1023px) {
  html,
  body {
    font-size: 18px;
  }

  .boardDesktop {
    display: none;
  }

  .boardMobile {
    display: block; 
    overflow: auto;
  }

  .filledTask {
    max-width: 300px;
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .blankTask {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .column {
    flex-direction: row;
    overflow-x: auto;
    padding: 1.5em 0 0.85em 0;
  }

  .sideMargin4 {
    margin: 0 1.5em;
  }
}

@media (max-width: 500px) {
  .taskButtonContainerMobile span {
    font-size: 1.75rem;
  }
}

