<header>
    <div class="headerContent">
        <div class="headerText">
            <h3>Kanban Project Management Tool</h3>
        </div>
        <div class="headerLinks">
            <a href="./help.html"><img src="assets/img/help.svg" alt="?-Logo"></a>
            <div onclick="showBurgerMenu()" id="userIcon" class="userIcon"><img src="" alt="">G</div>
            <div id="burgerMenu" class="burgerMenu">
                <a href="#">Legal Notice</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Log out</a>
            </div>
        </div>
    </div>
</header>