<header onload="showUserInitials()">
    <div class="headerContent">
        <div class="mobileHeaderImg"><img src="./assets/img/joinLogoSmall.svg" alt=""></div>
        <div class="headerText">
            <h3>Kanban Project Management Tool</h3>
        </div>
        <div class="headerLinks">
            <a href="./help.html"><img src="assets/img/help.svg" alt="?-Logo"></a>
            <div onclick="showBurgerMenu()" id="userIcon" class="userIcon">
                <div id="userIconInitials">G</div>
            </div>
            <div id="burgerMenu" class="burgerMenu">
                <div class="burgerMenuMobileLink"><a href="./help.html">Help</a>
                </div>
                <a href="../../legal_notice.html">Legal Notice</a>
                <a href="../../privacy_policy.html">Privacy Policy</a>
                <a onclick="logoutUser()">Log out</a>
            </div>
        </div>
    </div>
</header>