<header>
    <div class="headerContent">
        <div class="headerText">
            <h3>Kanban Project Management Tool</h3>
        </div>
        <div class="headerLinks">
            <a href="./help.html"><img src="assets/img/help.svg" alt="?-Logo"></a>
            <div onclick="showBurgerMenu()" id="userIcon" class="userIcon"><img src="" alt="">G</div>
            <div id="burgerMenu" class="burgerMenu">
                <a href="./assets/templates/legal_notice.html">Legal Notice</a>
                <a href="./assets/templates/privacy_policy.html">Privacy Policy</a>
                <a href="login.html">Log out</a>
            </div>
        </div>
    </div>
</header>