<nav class="sidebar">
    <div class="upper-container">
        <img class="sidebar-logo-img" src="./assets/img/joinLogoSidebar.svg" alt="logo">
        <div class="navbar">
            <span class="loginContainer dNone"><a id="loginIcon" class="dNone" href="./login.html"><img class="nav-icons" src="./assets/img/loginIcon.svg" alt="">Log in</a></span>
            <div class="hoverContainer"><a id="summary_icon" href="./summary.html"><img class="nav-icons img_on" src="./assets/img/summaryIcon.svg" alt=""><img
                    class="nav-icons img_off" src="./assets/img/summaryIconHover.svg" alt="">Summary</a></div>
            <div class="hoverContainer"><a id="add_task_icon" href="./add_task.html"><img class="nav-icons img_on" src="./assets/img/addTaskIcon.svg" alt=""><img
                    class="nav-icons img_off" src="./assets/img/addTaskIconHover.svg" alt="">Add Task</a></div>
            <div class="hoverContainer"><a id="board_icon" href="./board.html"><img class="nav-icons img_on" src="./assets/img/boardIcon.svg" alt=""><img
                    class="nav-icons img_off" src="./assets/img/boardIconHover.svg" alt="">Board</a></div>
            <div class="hoverContainer"><a id="contacts_icon" href="./contacts.html"><img class="nav-icons img_on" src="./assets/img/contactsIcon.svg" alt=""><img
                    class="nav-icons img_off" src="./assets/img/contactsIconHover.svg" alt="">Contacts</a></div>
        </div>
    </div>
    <div class="legal-container">
        <div class="hoverContainer"><a href="#">Privacy Policy</a></div>
        <div class="hoverContainer"><a href="#">Legal notice</a></div>
    </div>
</nav>

</html>