<nav class="sidebar">
    <div class="upper-container">
        <img class="sidebar-logo-img" src="./assets/img/joinLogoSidebar.svg" alt="logo">
        <div class="navbar">
            <span class="loginContainer"><a id="loginIcon" href="./index.html"><img
                        class="nav-icons" src="./assets/img/loginIcon.svg" alt="">Log in</a></span>
            
        </div>
    </div>
    <div class="legal-container">
        <div class="hoverContainer"><a href="./privacyNotLogin.html">Privacy Policy</a></div>
        <div class="hoverContainer"><a href="./legalNoticeNotLogin.html">Legal notice</a></div>
    </div>
</nav>

</html>