.mainContent {
    width: 850px;
    max-height: 675px;
    margin: 48px 0;
}

.imgOverlay {
    position: fixed;
    height: auto !important;
    min-height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 30;
}

.dFlex {
    display: flex;
}

.flexOne {
    flex: 1;
}

.maxWidth {
    width: 100%;
}

.directionColumn {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.modalHeadSection {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 48px;
    margin-top: 24px;
}

.closeIconContainer {
    margin: 32px 0 0 0;
}

.closeIcon {
    width: 24px;
    margin: -24px -24px 0 0;
}

.closeIcon:hover {
    cursor: pointer;
    border-radius: 50%;
    background-color: #D1D1D1;
}

.addTaskContent {
    display: flex;
    justify-content: space-between;
    height: 400px;
    padding: 24px 8px;
    overflow-y: auto;
}

.addTaskContentEdit {
    display: flex;
    justify-content: space-between;
    height: 400px;
    padding: 48px 0;
    overflow-y: auto;
}

.addTaskContent::-webkit-scrollbar-track {
    background: transparent;
    /* Unsichtbare Track-Hintergrundfläche */
}

.addTaskContent::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    /* Dünner, halbtransparenter Balken */
    border-radius: 4px;
}

.leftContainer {
    height: 100%;
}

.leftContainerEdit {
    position: static;
}

.rightContainer {
    height: 100%;
}

.rightContainerEdit {
    position: static;
    top: 336px;
}

.leftAddTaskForm {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    gap: 34px;
}

.leftAddTaskFormEdit {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
}

.dividingLine {
    height: 100%;
    margin: 0 20px 0 16px;
    display: flex;
    justify-content: center;
    border: 1px solid #D1D1D1;
}

.rightAddTaskForm {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
}

.btnContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btnContainerEdit {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.priorityBtn {
    width: 108px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #D1D1D1;
    border-radius: 8px;
    background-color: #FFFFFF;
    gap: 4px;
    cursor: pointer;
}

.priorityMediumBtn {
    gap: 0;
}

.hoverBtn:hover {
    box-shadow: 0px 4px 3px -1px rgba(0, 0, 0, 0.2);
}

.priorityIcon {
    width: 16px;
}

.priorityIconMedium {
    width: 24px;
    padding-left: 4px;
}

.urgentIcon {
    width: 16px;
    cursor: pointer;
}

.activeUrgentBtn {
    background-color: #FF3D00;
    color: white;
    font-weight: bold;
}

.activeMediumBtn {
    background-color: #FFA800;
    color: white;
    font-weight: bold;
}

.activeLowBtn {
    background-color: #7AE229;
    color: white;
    font-weight: bold;
}

.priorityIconWhite {
    width: 16px;
}

.submitSection {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 24px;
}

.submitBtnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    z-index: 1;
}

.submitBtn {
    height: 40px;
    display: flex;
    align-items: center;
    border: solid 1px #D1D1D1;
    border-radius: 8px;
    padding: 0 8px;
    cursor: pointer;
    gap: 4px;
}

.submitIcons {
    width: 24px;
}

.clearBtn {
    color: #2A3647;
    background-color: #F6F7F8;
    cursor: pointer;
}

.clearBtn:hover {
    color: #29ABE2;
    border: solid 1px #29ABE2;
    font-size: bolder;
}

.checkBtn {
    background-color: #2A3647;
    color: #ffffff;
    font-weight: bold;
}

.checkBtn:hover {
    background-color: #29ABE2;
}

.clearBtn img:last-child {
    display: none;
}

.clearBtn:hover img:last-child {
    display: block;
}

.clearBtn:hover img:first-child {
    display: none;
}

.inputFields {
    width: 404px;
    height: 32px;
    border: solid 1px #D1D1D1;
    border-radius: 8px;
}

.inputFieldsEdit {
    width: 100%;
    height: 32px;
    border: solid 1px #D1D1D1;
    border-radius: 8px;
}

.inputFields:focus {
    outline: none !important;
    border: solid 1px #29ABE2;
}

.required {
    border: solid 1px #FF8190;
}

.textArea {
    height: 90px;
}

.plusIcon {
    width: 16px;
    position: relative;
    left: 374px;
    bottom: 27px;
    cursor: pointer;
}

.plusIconEdit {
    width: 16px;
    position: relative;
    left: 346px;
    bottom: 27px;
    cursor: pointer;
}

.plusIcon:hover {
    background-color: #D1D1D1;
    border-radius: 50%;
}

.plusIconEdit:hover {
    background-color: #D1D1D1;
    border-radius: 50%;
}

.dropdownIcon {
    width: 16px;
    cursor: pointer;
}

.rotate {
    transform: rotate(180deg);
}

.dropdownIcon:hover {
    background-color: #D1D1D1;
    border-radius: 50%;
}

.customDropdownName {
    position: relative;
    width: 100%;
    border: 1px solid #D1D1D1;
    border-radius: 8px;
    cursor: pointer;
    background: white;
    z-index: 15;
}

.customDropdownNameEdit {
    position: relative;
    width: 100%;
    border: 1px solid #D1D1D1;
    border-radius: 8px;
    cursor: pointer;
    background: white;
    z-index: 15;
}

.customDropdownCategory {
    position: relative;
    width: 100%;
    border: 1px solid #D1D1D1;
    border-radius: 8px;
    cursor: pointer;
    background: white;
    z-index: 7;
}

.activeBorder {
    border: 1px solid #29ABE2;
}

.dropdownHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.dropdownList {
    position: absolute;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    list-style: none;
    padding: 0;
    margin: 0;
    left: 0;
    top: -12px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 0;
}

.dropdownListEdit {
    position: absolute;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    list-style: none;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 0;
}

.contactListContainer {
    position: absolute;
    z-index: 10;
    top: 306px;
    width: 405px;
}

.categoryListContainer {
    position: absolute;
    z-index: 5;
    top: 392px;
    width: 404px;
}

.editListContainer {
    position: relative;
    z-index: 10;
    top: -14px;
    width: 405px;
}

.dropdownList li {
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdownListEdit li {
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listElement {
    border-radius: 8px;
    width: 100%;
}

.listElement:hover {
    background-color: #f0f0f0;
    border-radius: 8px;
}

.listElement.checked {
    background-color: #2A3647;
    color: #ffffff;
}

.selectedName {
    background-color: #2A3647;
}

.assignedContentContainer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.assignedContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 8px;
}

.assignedGap {
    gap: 16px !important;
}

.assignedInput {
    border: none;
}

.assignedInput:focus {
    outline: none;
}

.contactInitial {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #29ABE2;
    width: 28px;
    height: 28px;
    border-radius: 50px;
}

.initalIcon {
    color: white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.visible {
    display: block;
    opacity: 1;
    transform: translateY(0);
}


.puffer {
    display: block;
    height: 7px;
}

label {
    color: #2A3647;
}

.requiredDate {
    margin-top: -15px;
}

.infoText {
    display: flex;
    color: #2A3647;
}

.fontRed {
    color: #FF8190;
}

.requiredFont {
    font-size: 12px;
}

.templateHTML {
    position: relative;
    z-index: 3;
}

::placeholder {
    color: #D1D1D1;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

::-webkit-resizer {
    -webkit-appearance: none;
}

.dateIcon {
    width: 16px;
    position: relative;
    left: -28px;
    bottom: -3px;
    cursor: pointer;
}

.dateIconEdit {
    width: 16px;
    position: relative;
    left: 344px;
    bottom: 23px;
    cursor: pointer;
}

.resizeIcon {
    background-image: url(../assets/img/resizeIcon.svg);
    background-repeat: no-repeat;
    background-position: right 3px bottom 3px;
    background-size: 12px;
}

.editTaskContent {
    flex-direction: column;
}

.mainEditContent {
    width: 100%;
    height: 100%;
    font-size: 12px;
    overflow: auto;
}

.editHeadSection {
    display: flex;
    justify-content: flex-end;
    margin: 24px 24px 0 0;
}

.subtaskWidth {
    width: 300px;
}

.subtaskList {
    position: absolute;
    top: 496px;
    max-height: 64px;
    overflow: auto;
    width: 404px;
}


.subtaskListEdit {
    height: 80px;
    overflow: auto;
    margin-top: -12px;
}

.subtaskListElement {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    padding: 2px 16px;
    border-radius: 8px;
    min-height: 20px;
    max-width: 400px;
}

.subtaskListElement:hover {
    cursor: pointer;
    background-color: #F0F0F0;
    min-height: 20px;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.liMarker {
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background: #000;
}

.liText {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.editIcons {
    cursor: pointer;
    width: 14px;
}

.editIcons:hover {
    background-color: #D1D1D1;
    border-radius: 50%;
    width: 16px;
    height: 16px;
}

.newSubtaskListElement {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #29ABE2;
}

.newSubtaskInput {
    border: none;
}

.newSubtaskInput:focus {
    outline: none;
}

.iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.inputIconContainer {
    left: 360px;
    bottom: 27px;
    width: 50px;
    display: flex;
    align-items: center;
}
.iconSize {
    width: 16px;
    height: 16px;
}

.editIcons {
    width: 16px;
    height: 16px;
    z-index: 100;
    cursor: pointer;
}

.iconDivider {
    color: #A8A8A8;
}

.ddListName {
    max-height: 197px;
    overflow-y: scroll;
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

.ddListName::-webkit-scrollbar {
    width: 8px;
}

.ddListName::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 8px;
}

.ddListName::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    border: 2px solid transparent;
    background-clip: content-box;
}

.subtaskList::-webkit-scrollbar {
    width: 8px;
}

.subtaskList::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 8px;
}

.subtaskList::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    border: 2px solid transparent;
    background-clip: content-box;
}

.listContainer {
    position: absolute;
    z-index: 0;
    top: 425px;
    width: 404px;
    z-index: 5;
}

#addedBoardImg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    z-index: 6;
}

@media (max-width: 630px) {
    .inputFields {
        width: 376px;
    }

    .inputIconContainer {
        left: 330px;
    }

    .customDropdownName {
        width: 304px;
    }

    .plusIconEdit {
        left: 348px;
    }

    .priorityBtn {
        width: 100px;
        height: 40px;
    }

    .rightAddTaskForm {
        width: 368px;
    }

    .directionColumn {
        width: 100%;
    }

    .customDropdown {
        width: auto;
    }

    .subtaskWidth {
        width: 290px;
    }
}

@media (max-width: 460px) {
    .inputFields {
        width: 265px;
    }

    .priorityBtn {
        width: 75px;
        height: 30px;
    }

    .priorityIconMedium {
        width: 20px;
    }

    .rightAddTaskForm {
        width: 256px;
    }

    .directionColumn {
        width: 100%;
    }

    .customDropdown {
        width: auto;
    }

    .plusIconEdit {
        left: 232px;
    }

    .dateIconEdit {
        left: 232px;
    }
}