.includeHeader {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.overlay {
    position: fixed;
    height: auto !important;
    min-height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 20;
}

p {
    font-size: 18px;
}

main {
    height: 100%;
    width: 100%;
    background-color: #F6F7F8;
    display: flex;
    justify-content: flex-start;
}

.contentWrapper {
    position: relative;
    max-width: 1920px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.mainContent {
    width: 850px;
}

.dFlex {
    display: flex;
}

.flexOne {
    flex: 1;
}

.maxWidth {
    width: 100%;
}

.directionColumn {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 18px;
}

h1 {
    font-size: 60px;
    margin-top: 48px;
}

.addTaskContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    margin: 64px 0;
}

.leftContainer {
    height: 100%;
}

.rightContainer {
    height: 100%;
}

.leftAddTaskForm {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 76px;
}

.dividingLine {
    height: 110%;
    display: flex;
    justify-content: center;
    border: 1px solid #D1D1D1;
}

.rightAddTaskForm {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}

.btnContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.priorityBtn {
    width: 108px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #D1D1D1;
    border-radius: 8px;
    background-color: #FFFFFF;
    gap: 4px;
    cursor: pointer;
}

.priorityMediumBtn {
    gap: 4px;
}

.hoverBtn:hover {
    box-shadow: 0px 4px 3px -1px rgba(0, 0, 0, 0.2);
}

.priorityIcon {
    width: 16px;
}

.priorityIconMedium {
    width: 32px;
}

.urgentIcon {
    width: 16px;
    cursor: pointer;
}

.activeUrgentBtn {
    background-color: #FF3D00;
    color: white;
    font-weight: bold;
}

.activeMediumBtn {
    background-color: #FFA800;
    color: white;
    font-weight: bold;
}

.activeLowBtn {
    background-color: #7AE229;
    color: white;
    font-weight: bold;
}

.priorityIconWhite {
    width: 16px;
}

.submitSection {
    display: flex;
    justify-content: space-between;
}

.submitBtnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    z-index: 1;
}

.submitBtn {
    height: 40px;
    display: flex;
    align-items: center;
    border: solid 1px #D1D1D1;
    border-radius: 8px;
    padding: 0 8px;
    cursor: pointer;
    gap: 4px;
}

.submitIcons {
    width: 24px;
}

.clearBtn {
    color: #2A3647;
    background-color: #F6F7F8;
    cursor: pointer;
}

.clearBtn:hover {
    color: #29ABE2;
    border: solid 1px #29ABE2;
    font-size: bolder;
}

.checkBtn {
    background-color: #2A3647;
    color: #ffffff;
    font-weight: bold;
}

.checkBtn:hover {
    background-color: #29ABE2;
}

.clearBtn img:last-child {
    display: none;
}

.clearBtn:hover img:last-child {
    display: block;
}

.clearBtn:hover img:first-child {
    display: none;
}

.inputFields {
    width: 345px;
    height: 38px;
    border: solid 1px #D1D1D1;
    border-radius: 8px;
    font-size: 18px;
    padding-left: 8px;
}

.inputFields:focus {
    outline: none !important;
    border: solid 1px #29ABE2;
    padding-left: 8px;
}

.required {
    border: solid 1px #FF8190 !important;
}

.textArea {
    height: 90px;
    max-height: 90px;
    max-width: 345px;
}

.subtaskWidth {
    width: 100%;
}

.subtaskListElement {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    padding: 2px 16px;
    border-radius: 8px;
    min-height: 20px;
}

.subtaskListElement:hover {
    cursor: pointer;
    background-color: #F0F0F0;
    min-height: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

.subtaskListPosition {
    position: absolute;
    top: 568px;
    width: 345px;
    max-height: 73px;
    overflow: auto;
}

.liText {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.editIcons {
    cursor: pointer;
    width: 14px;
}

.editIcons:hover {
    width: 15px;
}

.newSubtaskListElement {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #29ABE2;
}

.newSubtaskInput {
    border: none;
}

.newSubtaskInput:focus {
    outline: none;
}

.plusIcon {
    width: 24px;
    position: relative;
    left: 314px;
    bottom: 34px;
    cursor: pointer;
}

.plusIcon:hover {
    background-color: #D1D1D1;
    border-radius: 50%;
}

.dropdownIcon {
    width: 24px;
    cursor: pointer;
}

.rotate {
    transform: rotate(180deg);
}

.dropdownIcon:hover {
    background-color: #D1D1D1;
    border-radius: 50%;
}

.customDropdownName {
    position: relative;
    width: 345px;
    border: 1px solid #D1D1D1;
    border-radius: 8px;
    cursor: pointer;
    background: white;
    z-index: 15;
}

.customDropdownCategory {
    position: relative;
    width: 345px;
    border: 1px solid #D1D1D1;
    border-radius: 8px;
    cursor: pointer;
    background: white;
    z-index: 7;
}

.activeBorder {
    border: 1px solid #29ABE2;
}

.dropdownHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.assignedInput {
    border: none;
    font-size: 18px;
}

.assignedInput:focus {
    outline: none;
}

.dropdownList {
    position: relative;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    list-style: none;
    padding: 0;
    margin: 0;
    left: 0;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 0;
}

.ddListName {
    max-height: 197px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

.ddListName::-webkit-scrollbar {
    width: 8px;
}

.ddListName::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 8px;
}

.ddListName::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    border: 2px solid transparent;
    background-clip: content-box;
}

.subtaskList::-webkit-scrollbar {
    width: 8px;
}

.subtaskList::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 8px;
}

.subtaskList::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    border: 2px solid transparent;
    background-clip: content-box;
}

.contactListContainer {
    position: absolute;
    z-index: 10;
    top: 336px;
    width: 345px;
}

.categoryListContainer {
    position: absolute;
    z-index: 5;
    top: 446px;
    width: 345px;
}

.dropdownList li {
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.listElement {
    border-radius: 8px;
}

.listElement:hover {
    background-color: #f0f0f0;
    border-radius: 8px;
}

.listElement.checked {
    background-color: #2A3647;
    color: #ffffff;
}

.nameContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.initalIcon {
    color: white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectedName {
    background-color: #2A3647;
}

.assignedContentContainer {
    width: 100%;
    height: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.assignedContainer {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.contactInitial {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

.hidden {
    display: none;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.visible {
    display: block;
    opacity: 1;
    transform: translateY(0);
}


.puffer {
    display: block;
    height: 7px;
}

label {
    color: #2A3647;
}

.requiredDate {
    margin-top: -15px;
}

.infoText {
    display: flex;
    color: #2A3647;
}

.fontRed {
    color: #FF8190;
}

.requiredContainer {
    height: 20px;
}

.requiredFont {
    font-size: 16px;
}

.templateHTML {
    position: relative;
    z-index: 3;
}

::placeholder {
    color: #D1D1D1;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

::-webkit-resizer {
    -webkit-appearance: none;
}

.dateIcon {
    width: 24px;
    position: relative;
    left: -36px;
    bottom: -4px;
    cursor: pointer;
}

.resizeIcon {
    background-image: url(../assets/img/resizeIcon.svg);
    background-repeat: no-repeat;
    background-position: right 3px bottom 3px;
    background-size: 12px;
}

#addedBoardImg {
    position: absolute;
    top: 315px;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    z-index: 6;
}

@media (max-width: 1200px) {
    .mainContent {
        margin: 0 48px;
    }
}

@media (max-width: 1023px) {
    main {
        height: unset;
    }

    html {
        background-color: #F6F7F8;
    }

    .directionColumn {
        padding-bottom: 20px;
    }

        .contactListContainer {
        top: 350px;
        width: 345px;
    }

    .categoryListContainer {
        top: 458px;
        width: 345px;
    }

    .subtaskListPosition {
        top: 604px;
        width: 345px;
    }

    .submitSection {
        padding-top: 60px;
    }
}

@media (max-width: 850px) {
    .leftAddTaskForm {
        gap: 0;
    }

    .rightAddTaskForm {
        padding-bottom: 60px;
        gap: 0;
    }

    .dividingLine {
        display: none;
    }

    .addTaskContent {
        flex-direction: column;
        height: auto;
        align-items: flex-start;
        margin: 48px 0;
    }

    .mainContent {
        width: auto;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 120px;
    }

    .submitSection {
        position: fixed;
        width: 100%;
        padding: 24px;
        bottom: 80px;
        z-index: 50;
        background-color: #F6F7F8;
        justify-content: flex-end;
    }

    main {
        height: unset;
        overflow: unset;
    }

    #mobileInfo {
        width: 100%;
    }

    .infoText {
        width: 100%;
        justify-content: flex-start;
    }

    h1 {
        width: 100%;
        margin-top: 24px;
    }

    .subtaskListPosition {
        top: 924px;
        width: 345px;
    }

    .contactListContainer {
        top: 686px;
        width: 345px;
    }

    .categoryListContainer {
        top: 802px;
        width: 345px;
    }

    .mb20 {
        margin-bottom: 20px !important;
    }
}

@media (max-width: 440px) {

    .rightAddTaskForm {
        padding-bottom: 60px;
    }

    .inputFields {
        width: 300px;
    }

    .textArea {
        max-width: 300px;
    }

    .dropdownHeader {
        width: 300px;
    }

    .customDropdownName {
        width: 300px;
    }

    .customDropdownCategory {
        width: 300px;
    }

    .priorityBtn {
        width: 90px;
        font-size: 12px;
    }

    .dateIcon {
        left: -40px;
    }

    .plusIcon {
        left: 272px;
    }

    .subtaskListPosition {
        top: 924px;
        width: 300px;
    }

    .contactListContainer {
        width: 300px;
    }

    .categoryListContainer {
        width: 300px;
    }
}

@media (max-width: 380px) {
    .leftAddTaskForm {
        align-items: center;
    }

    .rightAddTaskForm {
        padding-bottom: 60px;
    }

    .calendarWrap {
        width: 260px;
    }

    .addTaskContent {
        align-items: center;
    }

    .inputFields {
        width: 260px;
    }

    .textArea {
        max-width: 260px;
    }

    .dropdownHeader {
        width: 260px;
    }

    .customDropdownName {
        width: 260px;
    }

    .customDropdownCategory {
        width: 260px;
    }

    .priorityBtn {
        width: 80px;
        font-size: 12px;
    }

    .dateIcon {
        left: 228px;
        bottom: 29px;
    }

    .flatpickr-calendar {
        left: 22px;
        width: 260px;
    }

    .plusIcon {
        left: 228px;
    }

    .assignedInput {
        width: 214px;
    }

    .contactListContainer {
        top: 714px;
        width: 260px;
    }

    .categoryListContainer {
        top: 828px;
        width: 260px;
    }

    .subtaskListPosition {
        top: 954px;
        width: 260px;
    }
}