html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    display: flex;
}

.contentWrapper {
    display: flex;
    flex: 1;
}

.mainContainer {
    width: 100%;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.bordHeaderWrapper {
    display: flex;
    align-items: center;
    padding: 3em 5em 0 3em;
    border: 2px solid red;
    flex-direction: column;
    flex-shrink: 0;
}

.boardHeaderContent {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

h2 {
    font-size: 2.5rem;
}

.taskActionWrapper {
    display: flex;
    align-items: center;
}

.taskSearch {
    display: flex;
    align-items: center;
    position: relative;
}

.verticalLine {
    height: 17px;
    color: black;
    background: black;
    width: 1px;
    position: relative;
    left: -42px;
}

.searchIcon {
    position: relative;
    left: -36px;
}

.taskButtonsWrapper {
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 3em;
}

.taskButtonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 0 0.5em;
}

.taskButtonContainer span    {
   font-weight: 700; 
}

.taskButtonContainer img {
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
}

.taskButtonContainer img:hover {
  border-color: #29ABE2;
}

.boardContentWrapper {
    border: 2px solid rgb(6, 255, 31);
    flex-grow: 1;
}









