.blankTaskModal {
    border: 2px dotted #acacac;
    border-radius: 10px;
    color: #b7b7b7;
    text-align: center;
    margin-bottom: 0.75em;
    padding: 0.5em 0;
    background-color: #e7e7e7;
}

.filledTaskModal {
    width: 532px;
    border-radius: 24px;
    background-color: #FFFFFF;
    padding: 12px 40px;
    display: flex;
    flex-direction: column;
}

.modalHeight {
    max-height: 708px;
}

.modalHeightEdit {
    height: 708px;
}

.taskMainContent {
    font-size: 16px;
}

.modalTaskHeadSection {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.closeIconTask {
    width: 24px;
}

.closeIconTask:hover {
    cursor: pointer;
    border-radius: 50%;
    background-color: #D1D1D1;
}

.marginBottomModal {
    margin-bottom: 2em;
}

.taskCategoryModal {
    border-radius: 10px;
    color: white;
    text-align: center;
    width: fit-content;
    padding: 0.1em 0.85em;
    font-weight: 400;
    margin-bottom: 1.5em;
    display: flex;
}

.userStoryModal {
    background-color: #0038ff;
}

.technicalTaskModal {
    background-color: #1fd7c1;
}

.taskTitleModal {
    font-size: 32px;
    font-weight: 700;
    color: #2A3647;
    margin-bottom: 0.75em;
    overflow-wrap: break-word;
}

.taskDescriptionModal {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 1.5em;
    overflow-wrap: break-word;
}

.titleLine {
    color: #2A3647;
    font-size: 16px;
    width: 120px;
}

.mBottom {
    margin-bottom: 16px;
}

.marginTopBottom {
    margin: 16px 0;
}

.subtasksContainerModal {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 16px;
}

.halfFilledModal {
    width: 50%;
}

.fullFilledModal {
    width: 100%;
}


.subtaskInfoModal {
    text-align: start;
    font-size: 16px;
    font-weight: 500;
}

.subtaskText {
    width: 380px;
}

.assignedToContainerModal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.assignedContactModal {
    border-radius: 50%;
    padding: 16px;
    position: relative;
    color: white;
    background-color: #0038ff;
    font-size: 16px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.assignedUserModal:nth-child(1) {
    background-color: chartreuse;
}

.assignedUserModal:nth-child(2) {
    background-color: rgb(51, 0, 255);
    left: -0.75em;
}

.assignedUserModal:nth-child(3) {
    background-color: rgb(255, 68, 0);
    left: -1.5em;
}

.taskPrioLowModal,
.taskPrioUrgentModal {
    width: 8px;
}

.taskPrioModal {
    width: 18px;
}

.infoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 12px;
}

.priorityContainer {
    display: flex;
    align-items: center;
    gap: 8px;
}

.assignedUserModal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;
    color: white;
    width: 30px;
    height: 30px;
    background-color: #93a5e6;
}

.assignedToModal {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 6px 24px;
}

.modalBtnContainer {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin: 24px 0;
}

.modalBtn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.modalBtn:hover {
    color: #29ABE2;
}

.deleteBtnWrapper .defaultBtn {
    display: inline-flex;
}

.deleteBtnWrapper .hoverBtn {
    display: none;
}

.deleteBtnWrapper:hover .defaultBtn {
    display: none;
}

.deleteBtnWrapper:hover .hoverBtn {
    display: inline-flex;
}

.overflowScroll {
    max-height: 118px;
    overflow-y: auto;
}

.taskMainContent::-webkit-scrollbar-track {
    background: transparent;  /* Unsichtbare Track-Hintergrundfläche */
}

.taskMainContent::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);  /* Dünner, halbtransparenter Balken */
    border-radius: 4px;
}

@media (max-width: 1023px) {
    .filledTaskModal {
        z-index: 100;
    }
}

@media (max-width: 630px) {
    .filledTaskModal {
        width: 422px;
    }

    .subtaskText {
        width: 280px;
    }

    .filledTaskModal {
        padding: 12px;
        max-height: 512px;
        z-index: 100;
    }

    .taskMainContent {
        overflow: auto;
    }
}

@media (max-width: 460px) {
    .filledTaskModal {
        width: 308px;
    }

    .taskTitleModal {
        font-size: 24px;
    }

    .taskMainContent {
        font-size: 12px;
    }

    .subtaskWidth {
        width: 150px;
    }

    .assignedToModal {
        margin: 6px 12px;
    }

    .subtaskText {
        width: 190px;
    }
}