.modalMobileCloseButtonWrapper {
    display: none;
}

.headlineSection {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 470px;
    background-color: #2A3647;
    color: white;
    gap: 16px;
    padding-left: 48px;
    padding-right: 24px;
}

.headlineContainer {
    display: flex;
    flex-direction: column;
    height: 130px;
    width: 370px;
    gap: 16px;
}

.headlineSection h1 {
    font-size: 61px;
    font-weight: 700;
}

.headlineSection h2 {
    font-size: 27px;
    font-weight: 400;
}

.blueUnderline {
    width: 90px;
    height: 3px;
    background-color: #29ABE2;
}

.contentSection {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.contactsModalImage {
    height: 66px;
    width: 55px;
}

.modalIconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 200px;
}

.contactsModalIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 47px;
    border: white 2px solid;
    height: 120px;
    width: 120px;
    border-radius: 60px;
    background-color: #D1D1D1;
    color: white;
    font-weight: 500;
}

.contactsModalIcon img {
    width: 42px;
    height: 42px;
}

.modalContentContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    width: 450px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}

.inputFieldContainer {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.inputFields {
    width: 420px;
    height: 50px;
    border: solid 1px #D1D1D1;
    border-radius: 10px;
    color: #D1D1D1;
    font-weight: 400;
    padding: 13px 21px;
    font-size: 20px;
}

input::placeholder {
    opacity: 30%;
}

.inputIcon {
    height: 1.5rem;
    position: absolute;
    right: 2rem;
    top: 0.9rem;
    z-index: 2;
}

.inputFieldWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modalCloseButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    border-radius: 55px;
    border: none;
    background-color: white;
}

.modalCloseButton:hover {
    background-color: #efefef;
    cursor: pointer;

}

.modalCloseButtonWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    width: 420px;
    padding-bottom: 24px;
}

.buttonsContainer {
    display: flex;
    gap: 24px;
    padding-top: 24px;
    padding-bottom: 48px;
    padding-left: 16px;
}

.modalCancelButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 126px;
    border-radius: 10px;
    border: 1px;
    padding: 16px;
    gap: 4px;
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: 400;
    border: solid 1px;
    cursor: pointer;
}

.modalCancelButtonImg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hoverIcon {
    position: absolute;
    opacity: 0;
}

.defaultIcon {
    position: relative;
    opacity: 1;
    cursor: pointer;
}

.modalCancelButton:hover .hoverIcon {
    opacity: 1;
    cursor: pointer;
}

.modalCancelButton:hover .defaultIcon {
    opacity: 0;
}

.modalCancelButtonImgContainer {
    display: flex;
    position: relative;
}

.modalCancelButton:hover {
    box-shadow: 0px 4px 3px -1px rgba(0, 0, 0, 0.2);
    color: #29ABE2;
    border: solid 2px;
}

.modalCreateButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 214px;
    border-radius: 10px;
    border: 1px;
    padding: 16px;
    gap: 4px;
    background-color: #2A3647;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.modalCreateButton:hover {
    box-shadow: 0px 4px 3px -1px rgba(0, 0, 0, 0.2);
    background-color: #29ABE2;
    cursor: pointer;
}

.inputError {
    color: red;
    font-size: 14px;
    margin-top: -20px;
    padding-left: 10px;
}

.inputFields.error {
    border: 1px solid red;
}

.dNone {
    display: none;
}

.modalSafeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 111px;
    border-radius: 10px;
    border: 1px;
    padding: 16px;
    gap: 4px;
    background-color: #2A3647;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
}

.modalSafeButton:hover {
    box-shadow: 0px 4px 3px -1px rgba(0, 0, 0, 0.2);
    background-color: #29ABE2;
}

.errorMsg {
    font-size: 0.6rem;
    padding: 0;
    color: red;
    visibility: hidden;
}

.errorMsg.visible {
    visibility: visible;
}