@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-VariableFont_opsz\,wght.ttf") format('truetype');
}

* {box-sizing: border-box;}

html, body {
  margin: 0 auto;
  padding: 0;
  background-color: #F6F7F8;
  font-family: "Inter";
  max-width: 1920px;
  width: 100%;
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  position: absolute;
  background-color: #F6F7F8;
}

.heroLogo {
  width: 80px;
  height: auto;
  position: relative;
  top: 3.5em;
  left: 3.5em;
}

h2 {
  text-align: center;
  margin-block: 0;
  font-size: 2.75rem;
  font-weight: 700;
}

.hr {
  width: 28%;
  border: 2px solid #29ABE2;
  margin: 0.125em auto;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.inputWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inputIcon {
  height: 1rem;
  position: absolute;
  right: 4rem;
  top: 1.2rem;
  z-index: 2;
}

.inputfield {
  width: 75%;
  margin: 0.7em auto;
  border-radius: 10px;
  border: 1px solid #DCDCDC;
  padding: 0.5em 1em;
}

.buttonWrapper {
  margin: 1em auto 2em;
  display: flex;
  gap: 1em;
}

.button {
  border-radius: 8px;
  border: 1px solid #2A3647;
  padding: 0.4em 0.65em;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.legalLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5em;
  color: #A8A8A8;
  font-size: 1rem;
  padding-bottom: 1.5em;
}

.privacyPolicy,
.legalNotice {
  cursor: pointer;
  transition: scale 125ms ease-in-out, font-weight 125ms ease-in-out, color 125ms ease-in-out;
}

.privacyPolicy:hover {
  color: #28ABE2;
  transform: scale(1.1);
  font-weight: 500;
}

.legalNotice:hover {
  color: #28ABE2;
  transform: scale(1.1);
  font-weight: 500;
}

.signUpHeroContainer {
  position: absolute;
  top: 2.5em;
  right: 3em;
}

.signUpText {
  font-size: 1.125rem;
  text-align: center;
  padding-right: 0.75em;
} 

.signUpButton {
  background-color: #2A3647;
  color: white;
  transition: background-color 125ms ease-in-out, border 125ms ease-in-out;
}

.signUpButton:hover {
  background-color: #28ABE2;
  border: 1px solid transparent;
}

.signUpButton:disabled {
  background-color: grey;
  color: lightgray;
  border: 1px solid transparent;
  cursor: default;
  transition: background-color 125ms ease-in-out, border 125ms ease-in-out;
}

.signUpButton:disabled:hover {
  background-color: grey;
  color: lightgray;
}

.contentLogin {
  margin: auto;
  max-width: 500px;
  width: 100%;
  max-height: 508px;
  height: 100%;
}

.loginContainer {
  border-radius: 30px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 14px 2px rgba(0,0,0,0.23);
  padding: 1em;
}

.loginButton {
  background-color: #2A3647;
  color: white;
  text-decoration: none;
  transition: background-color 125ms ease-in-out, border 125ms ease-in-out;
}

.loginButton:visited {
  text-decoration: none;
}

.loginButton:hover {
  background-color: #28ABE2;
  border: 1px solid transparent;
}

.loginButton:disabled {
  background-color: grey;
  color: lightgray;
  border: 1px solid transparent;
  cursor: default;
  transition: background-color 125ms ease-in-out, border 125ms ease-in-out;
}

.loginButton:disabled:hover {
  background-color: grey;
  color: lightgray;
}

.guestLoginButton {
  background-color: #FFFFFF;
  color: #2A3647;
  text-decoration: none;
  transition: background-color 125ms ease-in-out, border 125ms ease-in-out;
}

.guestLoginButton:hover {
  color: #28ABE2;
  border-color: #28ABE2;
  box-shadow: 0px 5px 11px -5px rgba(0,0,0,0.75);
}

.guestLoginButton:visited {
  text-decoration: none;
}






