.overlay {
    position: fixed;
    height: auto !important;
    min-height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 3;
}

.addTaskModal {
    width: 950px;
    height: 675px;
    background-color: white;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    z-index: 6;
    overflow-y: hidden;
}

.filledTaskModal {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
}

.mainEditContent {
    display: flex;
    flex-direction: column;
}

.modalScrollbar {
    overflow-y: auto;
    flex: 1;
    margin: 0 !important;
}

.changeBtn {
    width: 60px;
    position: relative;
    left: 340px;
    cursor: pointer;
}

@media (max-width: 630px) {
    .changeBtn {
        left: 316px;
    }
}

@media (max-width: 460px) {
    .changeBtn {
        left: 216px;
    }
}



/* .modalScrollbar {
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

.modalScrollbar::-webkit-scrollbar {
    width: 8px;
}

.modalScrollbar::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 8px;
}

.modalScrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    border: 2px solid transparent;
    background-clip: content-box;
} */