.signUpOverlay {
  width: fit-content;
  padding: 1em;
  background-color: #2a3647;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.signUpOverlay span {
  color: white;
  font-size: 1rem;
}

@media (max-width: 800px) {
  .signUpOverlay {
    width: max-content;
    padding: 0.75em;
  }
}
