body {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

h1 {
    font-size: 61px;
    font-weight: 700;
}

span {
    font-size: 27px;
    font-weight: 200;
    line-height: 32.4px;
}

.content {
    display: flex;
    min-height: 100dvh;
}

.sidebar {
    width: 232px;
    background-color: #2A3647;
}

.mainContent {
    width: 100vw;
}

.summaryHeadline {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-top: 64px;
    position: absolute;
}

.blueDivider {
    width: 3px;
    height: 59px;
    background-color: #29ABE2;
}

.mainContentWrapper {
    padding-left: 64px;
    padding-right: 64px;
}

.overviewSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.topTasks {
    display: flex;
    gap: 32px;
    height: 30%;
    width: 100%;
}

.toDoContainer {
    display: flex;
}

.main {
    display: flex;
}