body {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.templateHTML {
    position: relative;
    z-index: 3;
}

h1 {
    font-size: 61px;
    font-weight: 700;
}

span {
    font-size: 27px;
    font-weight: 200;
    line-height: 32.4px;
}

.main {
    height: 100%;
    display: flex;
}

.content {
    display: flex;
    min-height: 100vh;
    overflow-x: hidden;
    width: 100%;
}

.mainContent {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.summaryHeadline {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-top: 64px;
}

.blueDivider {
    width: 3px;
    height: 59px;
    background-color: #29ABE2;
}

.mainContentWrapper {
    display: flex;
    flex-direction: column;
    padding-left: 64px;
    padding-right: 64px;
}

.mainContainer {
    display: flex;
    background-color: #f6f7f8;
    height: 100%;
    justify-content: center;
}

.greetingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 48px;
}

.overviewSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: clamp(300px, 100%, 550px);
    width: clamp(300px, 100%, 550px);
    gap: 16px;
}

.topTasks {
    display: flex;
    gap: 32px;
    height: 30%;
    width: 100%;
}

.toDoContainer {
    width: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding: 16px 19px;
    gap: 8px;
    transition: 0.1s ease-in-out;
}

.toDoContainer:hover {
    transform: scale(1.08);
    background-color: #2A3647;
    color: white;
}

.toDoImg {
    background-color: #2A3647;
    width: 69px;
    height: 69px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.toDoImg .hoverIcon {
    position: absolute;
    opacity: 0;
}

.toDoContainer:hover .toDoImg .defaultIcon {
    opacity: 0;
}

.toDoContainer:hover .toDoImg .hoverIcon {
    opacity: 1;
}

.toDoCount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.doneContainer {
    display: flex;
}

.midSection {
    display: flex;
    gap: 32px;
    height: 30%;
    width: 100%;
}

.midContent {
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    padding: 16px 19px;
    transition: 0.1s ease-in-out;
}

.midContent:hover {
    transform: scale(1.08);
    background-color: #2A3647;
    color: white;
}

.midContentLeft {
    display: flex;
    align-items: center;
}

.urgentArrows {
    background-color: #FF3D01;
    width: 69px;
    height: 69px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.urgentContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.midSectionDivider {
    width: 1px;
    height: 100%;
    background-color: #D1D1D1;
}

.dateContainer {
    display: flex;
    flex-direction: column;
}

.bottomBar {
    justify-content: space-evenly;
    display: flex;
    gap: 32px;
    height: 30%;
    width: 100%;
}

.bottomBarTasks {
    width: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding: 16px 19px;
    transition: 0.1s ease-in-out;
}

.bottomBarTasks:hover {
    transform: scale(1.08);
    background-color: #2A3647;
    color: white;
}

p {
    font-size: 64px;
    font-weight: 600;
    margin: 0;
}

.bottomBarTasks span {
    font-size: 16px;
    font-weight: 300;
}